@import "tailwindcss";

body {
  background: #000;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;

  background:
    radial-gradient(
      circle at top left,
      rgba(139, 92, 246, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(34, 211, 238, 0.2),
      transparent 40%
    );

  z-index: -1;

      html {
      scroll-behavior: smooth;
    }

    body {
      overflow-x: hidden;
    }


}